In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [2]:
df = pd.read_csv('../data/GNPC_Harmonized_Dataset_V1/Somalogic01V1_anonymized.csv')
df.sample_type.unique()

array(['Buffer', 'Sample', 'Calibrator', 'QC'], dtype=object)

In [3]:
df[df['sample_type'] == 'Calibrator'].info()

<class 'pandas.core.frame.DataFrame'>
Index: 1240 entries, 7 to 33814
Columns: 628 entries, sample_id to seq_11560_76
dtypes: float64(624), int64(1), object(3)
memory usage: 6.0+ MB

In [4]:
df.contributor_code.unique()

array(['E', 'N', 'T', 'I', 'B', 'F', 'C', 'M', 'L', 'Q', 'P', 'S', 'U',
       'V', 'W', 'J', 'G', 'H', 'K', 'O', 'R', 'D', 'A'], dtype=object)

In [5]:
df_j = df[df['contributor_code'] == 'J']

In [6]:
df_j.head()

,sample_id,contributor_code,visit,sample_type,seq_10000_28,seq_10001_7,seq_10003_15,seq_10006_25,seq_10008_43,seq_10009_2,...,seq_11544_39,seq_11545_9,seq_11546_7,seq_11547_84,seq_11548_84,seq_11549_6,seq_11551_16,seq_11556_19,seq_11557_3,seq_11560_76
17991,3ab47202-b842-4757-ac0b-2a5228010677,J,1,Sample,131.8,174.2,130.3,122.4,104.9,-1.0,...,111.1,-1.0,217.4,203.9,73.9,314.3,115.6,417.4,267.8,179.6
17992,a845e334-d4ac-4743-ba41-9ca89f63d7f3,J,1,Sample,134.0,156.1,150.2,117.0,109.2,-1.0,...,103.2,-1.0,174.8,167.7,69.1,300.3,114.1,421.1,253.9,185.7
17993,3a9717c7-201c-4180-9089-59fa9e0834be,J,1,Sample,133.7,163.3,136.4,117.2,110.1,-1.0,...,95.8,-1.0,198.5,168.3,69.6,340.6,106.6,402.2,263.6,186.3
17994,afd9d3e3-97b0-4a5a-a274-57dcaf9bc4bc,J,1,Sample,152.3,163.8,132.0,114.0,109.4,-1.0,...,98.2,-1.0,253.6,193.0,73.1,303.8,111.0,403.4,264.0,181.9
17995,8e3de6da-77e6-4d33-ad7f-02382dcc8d22,J,1,Sample,156.0,142.4,145.5,114.5,120.3,-1.0,...,97.7,-1.0,187.4,144.6,68.2,355.3,115.1,349.4,268.5,218.3

In [7]:
somaMeta = pd.read_csv('../data/GNPC_Harmonized_Dataset_V1/SomalogicMetaV1_anonymized.csv')
somaMeta.head()

/tmp/ipykernel_6265/3233724222.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  somaMeta = pd.read_csv('../data/GNPC_Harmonized_Dataset_V1/SomalogicMetaV1_anonymized.csv')

,sample_id,contributor_code,visit,plate_id,units,anml_fraction_used_0_005,anml_fraction_used_0_5,anml_fraction_used_20,anml_fraction_used_20_s1,anml_fraction_used_20_s2,...,hyb_control_norm_scale,norm_scale_0_005,norm_scale_0_5,norm_scale_20,norm_scale_20_s1,norm_scale_20_s2,norm_scale_20_s3,row_check,sample_matrix,sample_type
0,8a0e5419-20f3-44d6-bb46-bab165bf8d05,R,1,147,-1,0.866,0.836,0.847,-1.0,-1.0,...,0.934112,1.435652,0.824065,0.722277,-1.0,-1.0,-1.0,PASS,EDTA Plasma,Sample
1,1f2178f2-83a6-46df-aec1-3dd741621068,R,2,147,-1,0.936,0.947,0.954,-1.0,-1.0,...,0.884058,0.894184,0.804804,0.841661,-1.0,-1.0,-1.0,PASS,EDTA Plasma,Sample
2,40c3925c-a770-4adc-9a87-5d9e2a23b855,R,1,147,-1,0.973,0.939,0.913,-1.0,-1.0,...,0.906697,1.100648,1.043171,0.901319,-1.0,-1.0,-1.0,PASS,EDTA Plasma,Sample
3,9de3c941-b32b-4ef8-8d59-6b57b905c657,R,2,147,-1,0.888,0.843,0.859,-1.0,-1.0,...,0.994137,1.165921,0.942466,0.825704,-1.0,-1.0,-1.0,PASS,EDTA Plasma,Sample
4,03830809-3976-4f58-8279-ca2ffd0398c4,R,2,147,-1,0.850,0.828,0.804,-1.0,-1.0,...,0.925489,1.061411,0.659705,0.608147,-1.0,-1.0,-1.0,PASS,EDTA Plasma,Sample

In [9]:
somaMeta.units.value_counts()

units
-1          31612
log2 RFU     1156
-1           1080
Name: count, dtype: int64

In [17]:
somaMeta[somaMeta['units'] == -1].contributor_code.value_counts()

contributor_code
H    504
K    175
N    166
T    155
G     55
W     25
Name: count, dtype: int64

In [18]:
somaMeta.sample_matrix.value_counts()

sample_matrix
EDTA Plasma       23000
Serum              4212
CSF                3233
-1                 2765
Citrate Plasma      638
Name: count, dtype: int64

In [28]:
csf_samples = somaMeta[somaMeta['sample_matrix'] == 'CSF']

csf_samples.head()

,sample_id,contributor_code,visit,plate_id,units,anml_fraction_used_0_005,anml_fraction_used_0_5,anml_fraction_used_20,anml_fraction_used_20_s1,anml_fraction_used_20_s2,...,hyb_control_norm_scale,norm_scale_0_005,norm_scale_0_5,norm_scale_20,norm_scale_20_s1,norm_scale_20_s2,norm_scale_20_s3,row_check,sample_matrix,sample_type
22284,faa2243e-fe3b-4269-87c8-b3e8e33df203,Q,1,241,-1,-1.0,-1.0,-1.0,0.927,0.833,...,0.852630,-1.0,-1.0,-1.0,0.907154,0.777996,0.972792,PASS,CSF,Sample
22287,33a24b03-c409-4a51-9c11-d4b9fd9b664d,Q,1,241,-1,-1.0,-1.0,-1.0,0.944,0.893,...,0.987592,-1.0,-1.0,-1.0,1.047939,0.952772,1.147589,PASS,CSF,Sample
22288,537b9dad-1aac-44ff-aa88-12d0b75f7e58,Q,1,241,-1,-1.0,-1.0,-1.0,0.955,0.901,...,0.942922,-1.0,-1.0,-1.0,0.906003,0.818186,1.124020,PASS,CSF,Sample
22331,18d8a83f-fdb1-4970-86fa-2a1bde756dbe,Q,1,241,-1,-1.0,-1.0,-1.0,0.801,0.903,...,0.936222,-1.0,-1.0,-1.0,0.670294,0.622322,0.898059,PASS,CSF,Sample
22332,41189111-627b-41cf-b57e-9abc100f0427,Q,1,241,-1,-1.0,-1.0,-1.0,0.970,0.923,...,0.940619,-1.0,-1.0,-1.0,0.934291,0.857725,0.819990,PASS,CSF,Sample

In [29]:
csf_O = csf_samples[csf_samples['contributor_code'] == 'O']
csf_other = csf_samples[csf_samples['contributor_code'] != 'O']

In [30]:
csf_other.head()

,sample_id,contributor_code,visit,plate_id,units,anml_fraction_used_0_005,anml_fraction_used_0_5,anml_fraction_used_20,anml_fraction_used_20_s1,anml_fraction_used_20_s2,...,hyb_control_norm_scale,norm_scale_0_005,norm_scale_0_5,norm_scale_20,norm_scale_20_s1,norm_scale_20_s2,norm_scale_20_s3,row_check,sample_matrix,sample_type
22284,faa2243e-fe3b-4269-87c8-b3e8e33df203,Q,1,241,-1,-1.0,-1.0,-1.0,0.927,0.833,...,0.852630,-1.0,-1.0,-1.0,0.907154,0.777996,0.972792,PASS,CSF,Sample
22287,33a24b03-c409-4a51-9c11-d4b9fd9b664d,Q,1,241,-1,-1.0,-1.0,-1.0,0.944,0.893,...,0.987592,-1.0,-1.0,-1.0,1.047939,0.952772,1.147589,PASS,CSF,Sample
22288,537b9dad-1aac-44ff-aa88-12d0b75f7e58,Q,1,241,-1,-1.0,-1.0,-1.0,0.955,0.901,...,0.942922,-1.0,-1.0,-1.0,0.906003,0.818186,1.124020,PASS,CSF,Sample
22331,18d8a83f-fdb1-4970-86fa-2a1bde756dbe,Q,1,241,-1,-1.0,-1.0,-1.0,0.801,0.903,...,0.936222,-1.0,-1.0,-1.0,0.670294,0.622322,0.898059,PASS,CSF,Sample
22332,41189111-627b-41cf-b57e-9abc100f0427,Q,1,241,-1,-1.0,-1.0,-1.0,0.970,0.923,...,0.940619,-1.0,-1.0,-1.0,0.934291,0.857725,0.819990,PASS,CSF,Sample

In [31]:
df_O = df[df['sample_id'].isin(csf_O['sample_id'])]
df_other = df[df['sample_id'].isin(csf_other['sample_id'])]

In [33]:
df_O.describe()

,visit,seq_10000_28,seq_10001_7,seq_10003_15,seq_10006_25,seq_10008_43,seq_10009_2,seq_10010_10,seq_10011_65,seq_10012_5,...,seq_11544_39,seq_11545_9,seq_11546_7,seq_11547_84,seq_11548_84,seq_11549_6,seq_11551_16,seq_11556_19,seq_11557_3,seq_11560_76
count,1156.0,1156.000000,1156.000000,1156.000000,1156.000000,1156.000000,1156.000000,1156.000000,1156.000000,1156.000000,...,1156.000000,1156.000000,1156.000000,1156.000000,1156.000000,1156.000000,1156.000000,1156.000000,1156.000000,1156.000000
mean,1.0,7.133734,8.011019,6.338121,6.794574,6.136113,6.104256,6.218845,8.108981,6.609452,...,6.013891,7.188271,8.076161,7.011897,6.512735,7.017711,6.303724,8.270270,8.542264,6.550783
std,0.0,0.438538,0.445751,0.323699,0.296564,0.290608,0.254716,0.264440,0.318448,0.316758,...,0.253715,0.294018,0.355063,0.335363,0.306268,0.291787,0.224836,0.340332,0.390811,0.300798
min,1.0,6.064012,6.927053,5.448554,5.548640,5.406508,5.439280,5.290017,7.032364,5.536787,...,5.360895,6.398200,7.023779,6.008265,5.724493,6.080685,5.369615,6.427529,7.528924,5.613515
25%,1.0,6.887137,7.704679,6.152151,6.624978,5.976680,5.977978,6.070376,7.904451,6.437706,...,5.887369,7.016090,7.843993,6.797019,6.321296,6.847286,6.196460,8.066328,8.271827,6.405614
50%,1.0,7.060350,7.999479,6.302141,6.759303,6.099901,6.071684,6.192167,8.094793,6.567310,...,5.970535,7.155903,8.083706,6.983133,6.494074,6.993034,6.266837,8.244249,8.527835,6.496013
75%,1.0,7.259917,8.280449,6.459686,6.903325,6.231842,6.177229,6.323659,8.269312,6.718503,...,6.076300,7.298239,8.302878,7.171479,6.663074,7.135807,6.368445,8.431856,8.781021,6.612860
max,1.0,10.009874,10.228091,8.981060,8.922441,8.656556,8.388254,8.622755,10.300433,9.226211,...,8.202374,9.452643,9.899410,9.279426,8.635204,9.475871,8.272563,10.447917,10.639321,9.254928

In [34]:
df_other.describe()

,visit,seq_10000_28,seq_10001_7,seq_10003_15,seq_10006_25,seq_10008_43,seq_10009_2,seq_10010_10,seq_10011_65,seq_10012_5,...,seq_11544_39,seq_11545_9,seq_11546_7,seq_11547_84,seq_11548_84,seq_11549_6,seq_11551_16,seq_11556_19,seq_11557_3,seq_11560_76
count,2077.000000,2077.000000,2077.000000,2077.000000,2077.000000,2077.000000,2077.0,2077.000000,2077.000000,2077.000000,...,2077.000000,2077.000000,2077.000000,2077.000000,2077.000000,2077.000000,2077.000000,2077.000000,2077.000000,2077.000000
mean,1.025999,147.652094,181.041935,155.673953,98.496822,124.115792,-1.0,138.456861,222.647183,201.409437,...,114.020462,149.367309,209.022581,180.192634,67.630910,180.276505,126.956379,258.192971,299.906307,187.650024
std,0.187001,13.706335,21.182602,13.089644,9.061820,7.022941,0.0,35.257437,14.399837,8.642315,...,12.668880,39.594790,20.351377,29.773237,10.454488,41.007235,7.569095,39.540107,24.219822,8.654148
min,1.000000,104.000000,110.400000,98.600000,64.300000,90.600000,-1.0,-1.000000,145.800000,134.500000,...,75.600000,-1.000000,124.200000,127.600000,33.400000,137.100000,90.500000,151.600000,230.100000,141.500000
25%,1.000000,142.100000,167.000000,150.600000,93.600000,120.800000,-1.0,143.000000,214.200000,195.700000,...,107.700000,152.500000,196.500000,163.800000,64.200000,165.100000,122.900000,237.400000,285.700000,182.900000
50%,1.000000,146.000000,177.900000,155.600000,97.300000,124.200000,-1.0,146.600000,220.600000,200.500000,...,113.700000,157.000000,204.700000,175.400000,66.800000,170.500000,126.800000,248.400000,297.400000,186.800000
75%,1.000000,150.500000,191.700000,160.400000,101.600000,127.500000,-1.0,150.100000,228.200000,206.000000,...,119.800000,162.400000,216.400000,190.700000,69.800000,176.500000,131.300000,262.500000,312.300000,191.300000
max,5.000000,368.900000,300.900000,467.100000,282.800000,249.700000,-1.0,222.000000,339.900000,252.000000,...,380.700000,455.800000,339.400000,665.400000,315.400000,407.400000,256.400000,499.500000,580.100000,271.100000

In [35]:
df_split = {cc: sub_df for cc, sub_df in df_other.groupby("contributor_code")}

In [36]:
for cc, sub_df in df_split.items():
    print(f"Contributor Code: {cc}, Number of Samples: {len(sub_df)}")
    print(sub_df.describe())

Contributor Code: J, Number of Samples: 122
            visit  seq_10000_28  seq_10001_7  seq_10003_15  seq_10006_25  \
count  122.000000    122.000000   122.000000    122.000000    122.000000
mean     1.098361    136.959836   164.532787    136.676230    118.395082
std      0.504686     21.705279    13.817963      8.740275      5.042954
min      1.000000    104.000000   137.800000    119.100000    102.800000
25%      1.000000    128.775000   155.350000    131.375000    115.000000
50%      1.000000    134.050000   162.350000    136.400000    118.450000
75%      1.000000    139.725000   171.400000    141.500000    122.325000
max      5.000000    268.400000   228.100000    193.300000    134.100000

       seq_10008_43  seq_10009_2  seq_10010_10  seq_10011_65  seq_10012_5  \
count    122.000000        122.0         122.0    122.000000    122.00000
mean     111.262295         -1.0          -1.0    253.565574    207.67459
std        6.434596          0.0           0.0     11.781669     10.17025
min       93.600000         -1.0          -1.0    213.600000    180.60000
25%      107.950000         -1.0          -1.0    246.400000    201.57500
50%      111.100000         -1.0          -1.0    253.400000    207.85000
75%      114.275000         -1.0          -1.0    261.850000    212.87500
max      156.500000         -1.0          -1.0    279.600000    252.00000

       ...  seq_11544_39  seq_11545_9  seq_11546_7  seq_11547_84  \
count  ...    122.000000        122.0   122.000000    122.000000
mean   ...    100.527049         -1.0   208.807377    171.809016
std    ...      5.519328          0.0    24.765239     22.569837
min    ...     82.400000         -1.0   170.200000    130.900000
25%    ...     97.700000         -1.0   194.250000    157.550000
50%    ...    100.550000         -1.0   202.900000    166.800000
75%    ...    103.750000         -1.0   213.800000    182.700000
max    ...    111.100000         -1.0   315.600000    275.400000

       seq_11548_84  seq_11549_6  seq_11551_16  seq_11556_19  seq_11557_3  \
count    122.000000   122.000000    122.000000    122.000000   122.000000
mean      72.862295   339.130328    115.477049    386.303279   262.812295
std        3.412842    25.055122      5.269259     36.704142    15.983062
min       66.200000   270.100000     99.500000    314.500000   230.100000
25%       70.450000   322.400000    112.325000    358.925000   252.500000
50%       73.050000   339.600000    115.150000    380.850000   260.100000
75%       74.475000   355.925000    118.875000    404.300000   269.075000
max       90.400000   407.400000    127.700000    499.500000   350.400000

       seq_11560_76
count    122.000000
mean     188.844262
std       12.970393
min      165.400000
25%      181.950000
50%      187.950000
75%      194.750000
max      268.700000

[8 rows x 625 columns]
Contributor Code: N, Number of Samples: 307
       visit  seq_10000_28  seq_10001_7  seq_10003_15  seq_10006_25  \
count  307.0    307.000000   307.000000    307.000000    307.000000
mean     1.0    145.060912   175.118241    160.623453     98.171661
std      0.0     13.323615    16.434220     10.666531      5.263502
min      1.0    112.400000   111.700000    121.300000     83.400000
25%      1.0    140.500000   165.450000    154.900000     94.600000
50%      1.0    143.600000   173.300000    159.400000     97.800000
75%      1.0    146.800000   183.500000    166.300000    101.550000
max      1.0    331.400000   250.400000    270.800000    116.400000

       seq_10008_43  seq_10009_2  seq_10010_10  seq_10011_65  seq_10012_5  \
count    307.000000        307.0    307.000000    307.000000   307.000000
mean     123.395114         -1.0    145.446580    218.344625   199.904886
std        4.119078          0.0      4.765098     12.095040     6.672258
min      114.800000         -1.0    133.800000    184.100000   159.000000
25%      120.300000         -1.0    142.050000    211.850000   196.200000
50%      123.100000         -1.0    145.400000    217.400000   199.500000
75%      126.000000         -1.0    148.200000    224.250000   203.500000
max      135.100000         -1.0    169.600000    339.900000   226.800000

       ...  seq_11544_39  seq_11545_9  seq_11546_7  seq_11547_84  \
count  ...    307.000000   307.000000   307.000000    307.000000
mean   ...    120.332899   155.817590   199.024756    180.015961
std    ...      9.380100     8.296969    11.519513     24.131473
min    ...     99.100000   106.600000   124.200000    143.400000
25%    ...    113.600000   151.400000   192.800000    166.200000
50%    ...    120.100000   155.500000   198.600000    175.100000
75%    ...    125.750000   159.850000   205.000000    189.650000
max    ...    176.500000   217.200000   256.500000    408.600000

       seq_11548_84  seq_11549_6  seq_11551_16  seq_11556_19  seq_11557_3  \
count    307.000000   307.000000    307.000000    307.000000   307.000000
mean      64.242671   169.857980    126.542671    244.383713   297.608143
std        3.561436     7.584045      4.162983     22.416652    17.181487
min       55.700000   149.000000    115.700000    164.100000   254.400000
25%       61.750000   164.550000    124.000000    230.450000   286.450000
50%       64.200000   169.400000    126.500000    241.300000   294.800000
75%       66.400000   174.500000    129.000000    252.550000   308.100000
max       84.400000   198.700000    155.000000    367.500000   388.200000

       seq_11560_76
count    307.000000
mean     189.871336
std        9.248994
min      141.500000
25%      185.500000
50%      189.200000
75%      193.700000
max      271.100000

[8 rows x 625 columns]
Contributor Code: Q, Number of Samples: 1370
        visit  seq_10000_28  seq_10001_7  seq_10003_15  seq_10006_25  \
count  1370.0   1370.000000  1370.000000   1370.000000   1370.000000
mean      1.0    149.040876   186.391387    156.409635     96.252044
std       0.0     12.628511    21.970092     13.360057      8.123754
min       1.0    129.900000   110.400000     98.600000     74.100000
25%       1.0    143.125000   171.800000    151.100000     92.500000
50%       1.0    147.100000   183.250000    155.800000     95.700000
75%       1.0    151.700000   197.000000    160.500000     99.500000
max       1.0    368.900000   300.900000    467.100000    282.800000

       seq_10008_43  seq_10009_2  seq_10010_10  seq_10011_65  seq_10012_5  \
count   1370.000000       1370.0   1370.000000   1370.000000  1370.000000
mean     125.914234         -1.0    148.040292    221.296277   200.648102
std        6.314228          0.0      5.442334     12.656851     8.524854
min      101.400000         -1.0    132.300000    163.100000   134.500000
25%      122.600000         -1.0    144.600000    214.100000   195.200000
50%      125.600000         -1.0    147.900000    220.300000   199.800000
75%      128.600000         -1.0    151.000000    227.200000   205.400000
max      249.700000         -1.0    222.000000    323.500000   248.500000

       ...  seq_11544_39  seq_11545_9  seq_11546_7  seq_11547_84  \
count  ...   1370.000000  1370.000000  1370.000000   1370.000000
mean   ...    112.449197   159.040876   213.288905    184.113285
std    ...     13.047944    14.210059    21.645460     31.006573
min    ...     75.600000    97.500000   144.900000    127.600000
25%    ...    106.925000   153.600000   199.125000    167.425000
50%    ...    112.300000   157.500000   209.100000    179.050000
75%    ...    117.300000   162.975000   222.875000    194.175000
max    ...    380.700000   455.800000   339.400000    665.400000

       seq_11548_84  seq_11549_6  seq_11551_16  seq_11556_19  seq_11557_3  \
count   1370.000000  1370.000000   1370.000000   1370.000000  1370.000000
mean      68.125255   169.958978    126.384672    249.405401   304.972190
std        8.820949     8.898648      6.727691     20.580394    24.620101
min       48.000000   137.100000     94.700000    151.600000   237.600000
25%       65.000000   164.300000    122.800000    236.800000   289.500000
50%       67.550000   169.500000    126.200000    246.300000   301.850000
75%       70.300000   175.000000    129.875000    258.100000   316.700000
max      281.500000   238.400000    256.400000    423.200000   580.100000

       seq_11560_76
count   1370.000000
mean     186.622993
std        8.193559
min      162.600000
25%      182.000000
50%      185.900000
75%      189.700000
max      242.900000

[8 rows x 625 columns]
Contributor Code: T, Number of Samples: 278
            visit  seq_10000_28  seq_10001_7  seq_10003_15  seq_10006_25  \
count  278.000000    278.000000   278.000000    278.000000    278.000000
mean     1.151079    148.361871   168.466187    154.919784    101.185971
std      0.358772     12.248978    11.676720      7.318085      6.392831
min      1.000000    105.800000   118.300000    127.200000     64.300000
25%      1.000000    144.300000   161.425000    151.425000     97.600000
50%      1.000000    146.600000   167.500000    154.800000    101.500000
75%      1.000000    149.600000   175.675000    157.800000    104.550000
max      2.000000    298.200000   208.600000    219.300000    138.900000

       seq_10008_43  seq_10009_2  seq_10010_10  seq_10011_65  seq_10012_5  \
count    278.000000        278.0    278.000000    278.000000   278.000000
mean     121.689568         -1.0    144.710791    220.487410   204.073381
std        6.366054          0.0      5.628001      9.209822     8.743667
min       90.600000         -1.0    113.800000    145.800000   188.500000
25%      118.900000         -1.0    141.800000    215.700000   198.325000
50%      121.600000         -1.0    144.550000    220.600000   202.100000
75%      124.100000         -1.0    147.575000    225.850000   208.975000
max      190.100000         -1.0    187.300000    244.500000   240.300000

       ...  seq_11544_39  seq_11545_9  seq_11546_7  seq_11547_84  \
count  ...    278.000000   278.000000   278.000000    278.000000
mean   ...    120.714388   160.560791   199.133094    164.745683
std    ...      8.332803     9.087577     8.662966     26.071847
min    ...     82.600000   125.300000   136.800000    128.100000
25%    ...    115.925000   155.300000   193.925000    153.400000
50%    ...    120.500000   160.500000   199.250000    161.550000
75%    ...    125.175000   164.275000   204.100000    171.500000
max    ...    159.900000   225.600000   228.900000    456.100000

       seq_11548_84  seq_11549_6  seq_11551_16  seq_11556_19  seq_11557_3  \
count    278.000000   278.000000    278.000000    278.000000   278.000000
mean      66.640647   172.914388    135.268345    260.527338   293.757914
std       19.710652     7.642651      6.724824     25.554695    13.643599
min       33.400000   154.700000     90.500000    171.000000   260.700000
25%       63.125000   167.225000    132.400000    245.375000   285.025000
50%       65.000000   172.300000    135.650000    257.050000   292.450000
75%       66.700000   177.375000    138.300000    269.025000   302.150000
max      315.400000   205.500000    202.800000    458.600000   347.100000

       seq_11560_76
count    278.000000
mean     189.734173
std        6.771070
min      172.700000
25%      185.700000
50%      189.000000
75%      193.100000
max      247.500000

[8 rows x 625 columns]

In [9]:
j_meta = somaMeta[somaMeta['contributor_code'] == 'J']

In [13]:
j_complet = df_j.merge(j_meta, on='sample_id', how='inner')
j_complet = j_complet.loc[:, ~j_complet.columns.str.endswith("_y")]  # keep only df1's version

j_complet = j_complet.rename(columns=lambda c: c.replace("_x", ""))

In [14]:
j_complet.head()

,sample_id,contributor_code,visit,sample_type,seq_10000_28,seq_10001_7,seq_10003_15,seq_10006_25,seq_10008_43,seq_10009_2,...,anml_fraction_used_20_s3,hyb_control_norm_scale,norm_scale_0_005,norm_scale_0_5,norm_scale_20,norm_scale_20_s1,norm_scale_20_s2,norm_scale_20_s3,row_check,sample_matrix
0,3ab47202-b842-4757-ac0b-2a5228010677,J,1,Sample,131.8,174.2,130.3,122.4,104.9,-1.0,...,-1.0,0.960556,-1.0,-1.0,1.058760,-1.0,-1.0,-1.0,PASS,CSF
1,a845e334-d4ac-4743-ba41-9ca89f63d7f3,J,1,Sample,134.0,156.1,150.2,117.0,109.2,-1.0,...,-1.0,1.125562,-1.0,-1.0,0.913695,-1.0,-1.0,-1.0,PASS,CSF
2,3a9717c7-201c-4180-9089-59fa9e0834be,J,1,Sample,133.7,163.3,136.4,117.2,110.1,-1.0,...,-1.0,0.979467,-1.0,-1.0,0.937373,-1.0,-1.0,-1.0,PASS,CSF
3,afd9d3e3-97b0-4a5a-a274-57dcaf9bc4bc,J,1,Sample,152.3,163.8,132.0,114.0,109.4,-1.0,...,-1.0,1.023344,-1.0,-1.0,0.989704,-1.0,-1.0,-1.0,PASS,CSF
4,8e3de6da-77e6-4d33-ad7f-02382dcc8d22,J,1,Sample,156.0,142.4,145.5,114.5,120.3,-1.0,...,-1.0,0.895226,-1.0,-1.0,0.836075,-1.0,-1.0,-1.0,PASS,CSF

In [13]:
mass_spec = pd.read_csv('../data/GNPC_Harmonized_Dataset_V1/MassSpecV1_anonymized.csv')
mass_spec.columns

Index(['sample_id', 'contributor_code', 'tmtbatch', 'p01024', 'p04114',
       'p0c0l5', 'p0c0l4', 'p00450', 'p02790', 'p02768',
       ...
       'p51795', 'o14686', 'q14524', 'q8td57', 'a6nmz7', 'q8te73', 'q96qt4',
       'q8wxi7', 'q8nfp9', 'p78344'],
      dtype='object', length=883)

In [14]:
aptamer_analy = pd.read_csv('../data/GNPC_Harmonized_Dataset_V1/SomalogicAnalyteInfoV1_anonymized.csv')
aptamer_analy.head()
aptamer_analy.units.value_counts()

units
RFU    7596
-1       48
Name: count, dtype: int64